body {
	height: 100%;
	/* background: -webkit-linear-gradient(45deg,blue 33%,red 67%, purple 99%);
    background: -moz-linear-gradient(45deg,blue 33%,red 67%, purple 99%);
    background: -o-linear-gradient(45deg,blue 33%,red 67%, purple 99%);
    background: linear-gradient(45deg,blue 33%,red 67%, purple 99%);

    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s; */
	background: linear-gradient(45deg, blue 33%, red 67%, purple 100%);
	background-size: 200% 200%;
	animation: Animation 9s infinite;
}
@keyframes Animation {
	0% {
		background-position: 10% 0%;
	}
	50% {
		background-position: 50% 75%;
	}
	100% {
		background-position: 10% 0%;
	}
}

header {
	width: 99%;
	height: 5%;
	font-size: 25px;
	text-align: center;
}

header h1 {
	position: relative;
	display: inline-block;
	color: rgba(34, 25, 37, 0.9);
	box-shadow: 10px 10px 10px rgba(124, 122, 125, 0.608);
	background: linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
	border-radius: 15px;
	padding: 30px;
	backdrop-filter: blur(100px);
	transition-duration: 1s;
}

header h1:hover {
	/* background-color: rgba(70, 61, 61, 0.75); */
	background-color: bisque;
	transition-duration: 1s;
}

main {
	top: 100px;
	height: 90%;
	text-align: center;
}
main button {
	height: 60px;
	width: 58px;
	text-decoration: none;
	color: black;
	border: solid 1px rgba(137, 81, 165, 0.608);
	border-radius: 25px;
	margin: 6px;
	background: linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
	backdrop-filter: blur(100px);
	transition-duration: 0.8s;
}
main button:hover {
	background-color: bisque;
	transition-duration: 0.5s;
	transform: translateY(-3px);
	box-shadow: 5px 5px 5px rgba(124, 122, 125, 0.608);
}
main button:active {
	background-color: black;
	color: white;
	border: solid 1px rgba(58, 52, 52, 0.671);
}

.board {
	width: 300px;
	height: 365px;
	display: inline-block;
	margin-top: 10px;
	background: linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
	backdrop-filter: blur(50px);
	border: solid 1px rgba(77, 77, 74, 0.721);
	border-radius: 25px;
	backface-visibility: hidden;
}
.advanced {
	position: absolute;
	backface-visibility: hidden;
	transform: rotateY(180deg);
	left: 525px;
	width: 30%;
	height: 100%;
	display: inline-block;
	margin-top: 10px;
	background: linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
	backdrop-filter: blur(50px);
	border: solid 1px rgba(77, 77, 74, 0.721);
	border-radius: 25px;
}
.programistic {
	position: absolute;
	backface-visibility: hidden;
	left: 525px;
	transform: preserve-3d(300px);
	transform: rotateY(90deg);
	width: 30%;
	height: 100%;
	display: inline-block;
	margin-top: 10px;
	background: linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
	backdrop-filter: blur(50px);
	border: solid 1px rgba(77, 77, 74, 0.721);
	border-radius: 25px;
}

.down {
	position: relative;
	transform-style: preserve-3d;
	transition: 1s;
	width: 99%;
}

.active {
	transform: rotateY(180deg);
}
.activeProgramistic {
	transform: rotateY(-90deg);
}

.up {
	position: relative;
	transform-style: preserve-3d;
	width: 99%;
	transition: 1s;
	text-align: center;
}

.result {
	width: 25%;
	height: 40px;
	padding: 10px;
	display: inline-block;
	background: linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
	backdrop-filter: blur(100px);
	box-shadow: 0px 10px 10px rgba(124, 122, 125, 0.608);
	border: solid 1px rgb(99, 97, 97, 0.608);
	border-radius: 15px;
	transition-duration: 1s;
	backface-visibility: hidden;
}

.programisticResult {
	position: absolute;
	width: 25%;
	height: 50px;
	padding: 10px;
	left: 550px;
	display: inline-block;
	transform: rotateX(180deg);
	background: linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
	backdrop-filter: blur(100px);
	box-shadow: 0px 10px 10px rgba(124, 122, 125, 0.608);
	border: solid 1px rgb(99, 97, 97, 0.608);
	border-radius: 15px;
	backface-visibility: hidden;
	transition-duration: 1s;
}
.programisticResult:hover {
	color: black;
	background-color: bisque;
	border: solid 1px rgba(106, 96, 96, 0.608);
	box-shadow: 2px 2px 10px rgba(106, 96, 96, 0.608);
	backdrop-filter: blur(100px);
	transition-duration: 1s;
}

.activeResult {
	transform: rotateX(180deg);
}

.result:hover {
	color: black;
	background-color: bisque;
	border: solid 1px rgba(106, 96, 96, 0.608);
	box-shadow: 2px 2px 10px rgba(106, 96, 96, 0.608);
	backdrop-filter: blur(100px);
	transition-duration: 1s;
}

.navBar {
	position: absolute;
	top: 100px;
	left: -175px;
	height: 500px;
	width: 175px;
	background-color: rgb(203, 196, 187);
	border-top-right-radius: 25px;
	border-radius: 25px;
	border-bottom-right-radius: 25px;
	background: linear-gradient(to right, rgba(255, 255, 255, 0.789), rgba(255, 255, 255, 0.479));
	backdrop-filter: blur(100px);
	transition-duration: 1s;
}

nav button {
	height: 50px;
	width: 50px;
	float: right;
	background: linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
	border-top-right-radius: 25px;
	border: solid 1px rgba(106, 96, 96, 0.608);
	transition-duration: 1s;
}

nav button:hover {
	transition-duration: 1s;
	background-color: bisque;
	color: black;
}

.openNav {
	/* display:none; */
	height: 60px;
	width: 60px;
	position: absolute;
	top: 105px;
	left: -20px;
	border-radius: 35px;
}
.openNav:hover {
	transform: translateX(30px);
}

.closeNav {
	width: 100%;
	text-align: right;
	padding-right: 20px;
	border-top-left-radius: 25px;
}

.navBar div {
	width: 100%;
	height: 200px;
	text-align: center;
	margin-top: 20px;
}

.buttonNav {
	width: 100%;
	border-top-right-radius: 0;
}

.buttonNav:active {
	background-color: black;
	color: white;
	border: solid 1px rgba(58, 52, 52, 0.671);
	transition-duration: 1s;
}

.buttonNav:last-child {
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}
/* .buttonNav:last-child:hover{
    background: linear-gradient(120deg,green,yellow);

} */

.begin {
	width: 50%;
	height: 100%;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	font-weight: bold;
	text-align: left;
	box-sizing: border-box;
	border-right: dotted 3px rgba(21, 19, 19, 0.963);
}
.finish {
	position: absolute;
	top: 0px;
	left: 50%;
	box-sizing: border-box;
	height: 100%;
	width: 50%;
	float: right;
	font-size: 15px;
	padding-top: 4px;
	font-weight: bold;
}

.finish div {
	height: 33%;
	width: 100%;
	padding-left: 30px;
	text-align: left;
}
